<div class="container-div">
  <div class="content">

    <div class="row">
      <div class="card bg-success text-white text-center">
        <h1>{{ actualWord.hu }}</h1>
      </div>
    </div>


    <div class="row">
      <div class="input-group p-0">
        <input type="text" [(ngModel)]="answer" class="form-control" [class.is-invalid]="isActualFailed" />

        <div class="input-group-append">
          <button class="btn btn-info" (click)="help()">
            <i class="fa fa-question" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <h1 [class.invisible]="!helpDisplayed">{{ actualWord.en }}</h1>
    </div>
    <div class="row">
      <button class="col-12 btn btn-dark p-3" (click)="check()">
        <i class="fa fa-square-check" aria-hidden="true"></i>
        <span>{{'button.check' | translate}}</span>
      </button>
    </div>
  </div>

  <app-navigation-footer (backClicked)="step(-1)" (nextClicked)="step(1)" [backDisabled]="actualIdx <= 0"
    [nextDisabled]="actualIdx +1 >= words.length">
    <h3 class="col-12">{{ getStatusBar() }}</h3>
  </app-navigation-footer>

</div>
