<div class="ps-1 pe-1">
  <div class="row pt-1">
    <div class="col-6">
      <button class="col-12 btn btn-secondary" (click)="changeUser()">
        <span class="fa fa-user"></span>
        <span id="sheet">{{ wordStore.selectedSheet() }}</span>
      </button>
    </div>
    <div class="col-6">
      <button class="col-12 btn btn-success" (click)="changeList()" >
        <span
          id="deckButtonIcon"
          aria-hidden="true"
          class="fa"
          [ngClass]="currentListConfig().iconClass"
        ></span>
        <span id="deckButtonText">{{ currentListConfig().labelKey | translate }}</span>
      </button>
    </div>
  </div>
  <div class="row m-0 pt-1">
    <div class="col-12 p-0 m-0">
      <button class="bg-primary text-white text-center w-100 border-0 rounded-1" (click)="toHome()">
        <h1 class="m-0"><i class="fa fa-home" aria-hidden="true"></i>{{'button.home' | translate}}</h1>
      </button>
    </div>
  </div>
</div>
