<div class="container-div">
  <div class="d-flex mt-2 bg-success m-1">
    <div class="col-2">
      <div class="btn btn-success" (click)="speak()" [class.invisible]="questionLang === 'hu'">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-8 text-white text-center">
      <h1 id="actualHu">{{ actualWord[questionLang].value }}</h1>
    </div>
    <div class="col-2">
      @if(questionLang === 'en') {
        <img src="../../../assets/images/hu.png" alt="lang" (click)="toggleLang()">
      }
      @if(questionLang === 'hu') {
        <img src="../../../assets/images/en.png" alt="lang" (click)="toggleLang()">
      }
    </div>
  </div>
  @if (actualIdx < cards.length) {
    <div class="answers">
      @for (w of possibleWords; track $index) {
        <app-word-card
          (cardClicked)="wordClicked($index)"
          [word]="w[answerLang]"
          [class.bg-danger]=""
        >
        </app-word-card>
      }
    </div>
  }
  @if (actualIdx == cards.length) {
    <button class="btn btn-primary" (click)="restart()">Restart</button>
  }
  <footer class="p-1">
    <div class="row">
      <div class="col-6">
        <h3>
        <i class="fa fa-check text-success" aria-hidden="true"></i>
        : {{ success }}  |
        <i class="fa fa-times text-danger" aria-hidden="true"></i>
        : {{ failed }}
        </h3>
      </div>
      @if (actualIdx < cards.length) {
        <div class="col-6 text-end">
          <h3>{{ actualIdx + 1 }} / {{ cards.length }}</h3>
        </div>
      }
    </div>
  </footer>
</div>
