<div class="d-flex flex-column justify-content-between h-100 w-100">

  <div class="d-flex align-items-center mt-2 bg-success m-1 py-2 prompt-row">
    <div class="col-2 header-action-col">
      <button
        class="btn btn-success"
        (click)="speak()"
        [class.invisible]="questionLang() === 'hu'"
        aria-label="Speak word">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
      </button>
    </div>

    <div class="col-8 text-white text-center d-flex align-items-center justify-content-center">
      @if (currentWord(); as word) {
        <h1 id="actualHu" [appFitText]="word[questionLang()]" [maxFontSize]="40" [minFontSize]="13" [attr.lang]="questionLang()">{{ word[questionLang()] }}</h1>
      }
    </div>

    <div class="col-2 header-action-col">
      <button class="btn btn-success" (click)="toggleLang()" aria-label="Switch Language">
        <img [src]="questionLang() === 'en' ? '../../../assets/images/hu.png' : '../../../assets/images/en.png'" alt="Language flag">
      </button>
    </div>
  </div>

  @if (!isGameOver()) {
    <div class="answers">
      @for (option of currentOptions(); track $index) {
        <app-word-card
          (cardClicked)="handleWordClick($index, option)"
          [word]="getCardConfig(option, $index)"
          [maxFontSize]="34">
        </app-word-card>
      }
    </div>
  } @else {
    <div class="restart">
      <button class="btn btn-primary" (click)="restart()">
        <h3>{{ 'button.restart' | translate }}</h3>
      </button>
    </div>
  }

  <footer class="p-1">
    <div class="d-flex justify-content-between">
      <div>
        <h2>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
          : {{ success() }} |
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
          : {{ failed() }}
        </h2>
      </div>

      @if (!isGameOver()) {
        <div>
          <h2>{{ actualIdx() + 1 }} / {{ cards().length }}</h2>
        </div>
      }
    </div>
  </footer>

</div>
