<div class="container-div">
  <div class="row" style="height: 100%;" *ngFor="let card of enCards(); let i = index">

    <app-word-card
      class="col-6"
      [word]="card"
      (cardClicked)="wordClicked('en', i)">
    </app-word-card>

    <app-word-card
      class="col-6"
      [word]="huCards()[i]"
      (cardClicked)="wordClicked('hu', i)">
    </app-word-card>

  </div>

  <app-navigation-footer
    (backClicked)="prev()"
    (nextClicked)="next()"
    [backDisabled]="actualStartIndex() <= 0"
    [nextDisabled]="actualStartIndex() + displayedWordsCount >= totalLength()">
    <h3 class="col-12" style="display: inline;">
      {{ actualStartIndex() + 1 }}-{{ actualStartIndex() + enCards().length }} / {{ totalLength() }}
    </h3>
  </app-navigation-footer>
</div>
