/* gyerek-komponens.component.css */
:host {
  display: flex;
  flex-direction: column;
  flex: 1; /* Kitölti a main-t */
  height: 100%;
}


.pairing-word-left {
  padding-left: 1rem;
  padding-right: 0;
  padding-bottom: .5rem;
}

.pairing-word-right {
  padding-right: 1rem;
  padding-left: 0;
  padding-bottom: .5rem;
}
