<div class="p-1">
  <app-navigation-card action="flashcards" displayName="home.flashcards" iconClass="fa-regular fa-square"></app-navigation-card>
  <app-navigation-card action="pairing" displayName="home.pairing" iconClass="fa fa-th-large"></app-navigation-card>
  <app-navigation-card action="learn-words" displayName="home.learn-words" iconClass="fa fa-university"></app-navigation-card>
  <app-navigation-card action="ask-words" displayName="home.ask-words" iconClass="fa fa-search"></app-navigation-card>
</div>
