<div
  class="card text-center text-white d-flex flex-column justify-content-center position-relative h-100"
  [class.invisible]="!word().visible"
  [class]="word().activeClass"
  (click)="wordClicked()"
>
  <button
    class="bg-info text-white position-absolute top-0 border-0 rounded-1"
    (click)="speak($event)"
    [class.invisible]="!word().speakable"
  >
    <span class="fa fa-volume-up" aria-hidden="true"></span>
  </button>
  <h1
    [appFitText]="word().value ?? ''"
    [maxFontSize]="maxFontSize()"
    [minFontSize]="minFontSize()"
    [attr.lang]="word().lang"
  >{{ word().value }}</h1>
</div>
