:host {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
}

.row.flex-grow-1 {
	flex: 1 1 auto;
	height: 100%;
	margin: 0;
	padding: 0;
}

#wordCard {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
