/* word-card.component.css */
:host {
  display: block;
  height: 100%;
}

.card {
  margin: .2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


button.bg-info {
  position: absolute;
  margin: .1rem;
  top: 0;
  width: 99%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
