/* styles.css */
html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* A main táguljon ki, hogy kitöltse a maradék helyet a header alatt */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Ez az a div, amit a HTML-edben írtál */
.container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* A kártya felül, a footer alul marad */
  height: 100%;
  width: 100%;
}
